//
// Common
// --------------------------------------------------
html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    //appearance: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    //-webkit-appearance: inherit;
    //-moz-appearance: inherit;
}

body {
    margin: 0;
}

.clearfix() {
    &:before,
    &:after {
        display: table;
        width: 100%;
        content: ' ';
    }
    &:after {
        clear: both;
    }
}

.clearfix {
    .clearfix();
}