.main {
    float: left;
    padding: 10px 0 0 45px;
    .matrix {
        float: left;
        margin: 5px;
        padding: 5px;
        border-right: 1px solid black;
        border-left: 1px solid black;
        @td-size: 55px;
        tr {
            td {
                width: @td-size ;
                height: @td-size ;
                line-height: 20px;
                input[type=text] {
                    display: block;
                    margin: 0 auto;
                    width: @input-size;
                    height: @input-size;
                    color: #404040;
                    border: none;
                    border: 1px solid rgba(0, 0, 0, .2);
                    border-radius: 1px;
                    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
                    font: 14px 'SegoeUI';
                    text-align: center;
                    @input-size: 45px;
                    &:focus {
                        outline: 1px solid #5199db;
                    }
                }
            }
        }
    }
}