.sidebar {
    float: left;
    padding: 10px 0 10px 45px;
    width: 340px;
    height: 100%;
    #error-message {
        display:none;
        font: 14px 'SegoeUI';
        line-height: 20px;
        color: red;
        padding: 40px 0 10px 0;
    }

    &[data-view=custom] {
        background-color: #bcbcbc;
    }
    &[data-view=enter] {
        background-color: #5199db;
    }
    &[data-view=error] {
        background-color: #f6c1c0;
        #error-message {
            display: block;
        }
    }
    .row {
        margin: 10px 0 0 0;
        width: 100%;
        height: 110px;
        > button,
        > input,
        > span,
        > label,
        {
            float: left;
            margin: 5px 10px 5px 0;
            color: #404040;
            font: 14px 'SegoeUI';
            line-height: 20px;
        }
        label {
            background-image: url;
        }
        input[type=radio] {
            display: none;
        }
        input[type="radio"] + label {
            cursor: pointer;
            margin-right: 10px;
        }
        input[type="radio"] + label::before {
            content: "";
            display: inline-block;
            vertical-align: bottom;
            margin-right: 5px;
            height: 18px;
            width: 18px;
            background-image: url(../img/sprite.png);
            background-repeat: no-repeat;
        }
        input[type="radio"] + label::before {
            background-position: -2px -5px;
        }
        input[type="radio"]:checked + label::before {
            background-position: -2px -79px;
        }
        input[type="radio"]:disabled + label::before {
            background-position: 0px 5px;
        }
        >span {
            line-height: 30px;
        }
    }
    .btn {
        display: block;
        border: none;
        background: none;
        i {
            font: 16px 'iconfont';
            margin-right: 5px;
        }
    }
    button.btn-green {
        padding: 5px 10px 5px 10px;
        height: 35px;
        border-radius: 3px;
        color: #fff;
        background-image: linear-gradient( to top, rgb(55, 145, 11) 0%, rgb(75, 169, 29) 100%);
        &:hover {
            background-image: linear-gradient( to top, rgb(48, 126, 10) 0%, rgb(59, 141, 19) 100%);
        }
        &:active {
            box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.15);
            background-color: #35840e;
        }
        &:focus {
            outline: 3px solid #5199db;
        }
    }
    .btn-grey {
        height: 30px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, .35);
        background-image: linear-gradient( to top, rgb(235, 235, 235) 0%, rgb(254, 254, 254) 100%);
        i {
            width: 20px;
            height: 20px;
        }
        &:hover {
            background-image: linear-gradient( to top, rgb(222, 222, 222) 0%, rgb(242, 242, 242) 100%);
        }
        &:active {
            background: #d9d9d9;
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, .15);
        }

         &:focus {
            outline: 3px solid #5199db;
        }
    }
}